body{
    margin:0;
    padding:0;
}
#parent{
    width: 200px;
    height: 200px;
    margin:200px;
    background-color: red;
    position: relative;
}
#child{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position:absolute;
    right: 0;
    up:0;

}